<div class="card" style="margin-bottom: 20px">
  <div class="card-block">
    <h4 class="card-title text-center">Grange PC scanner</h4>
    <h6 class="card-subtitle mb-2 text-muted text-center">In colaboration with SolarWinds</h6><hr>
    <p class="card-text">Here are a quick set of steps to get started with scan process. Please make sure you go through each step, before you get started with the scan process.
    <span class="text-muted">Don't wish to scan? No problems, we understand and respect your case. Please click the link below to go back to previous screen.</span></p>
    <a href="home" class="card-link">Home</a>
  </div>
</div>
<div class="container">
  <div class="card card-inverse card-primary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-success mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-info mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-warning mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-danger text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
  <hr>
  <div class="card text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <a target="_blank" href="https://app.ri.logicnow.com/scan_me/HFIAIND/scan?cbUrl=http%3A%2F%2Flocalhost%3A4200%2Fscannow%2Fcallback" class="btn btn-primary">Scan Now</a>
        <footer>I agree to all conditions. <cite title="Source Title">Proceed to scan</cite></footer>
      </blockquote>
    </div>
  </div>
</div>

